.transicionCircles{

    width:200px;
    height:200px;
    background-color:#16a085;
    color:#ffffff;
    font-size:18px;
    text-align:center;
}

.transicionCircles:hover{
    width:400px;
    height:400px;
    border-radius:60%;
    background-color:dodgerblue;
    cursor:pointer;
    padding:30px;
    box-shadow:0px 2px 20px #000;
    color:deeppink;

    -webkit-transition: width 1s ease,height 1s ease,background-color 2s ease-out, border-radius 2s ease-in-out, padding 1s ease 2s, box-shadow 1s ease 2s, color 3s linear;
    -moz-transition: width 1s ease,height 1s ease,background-color 2s ease-out, border-radius 2s ease-in-out, padding 1s ease 2s, box-shadow 1s ease 2s, color 3s linear;
    -o-transition: width 1s ease,height 1s ease,background-color 2s ease-out, border-radius 2s ease-in-out, padding 1s ease 2s, box-shadow 1s ease 2s, color 3s linear;
    -ms-transition: width 1s ease,height 1s ease,background-color 2s ease-out, border-radius 2s ease-in-out, padding 1s ease 2s, box-shadow 1s ease 2s, color 3s linear;
    transition: width 1s ease,height 1s ease,background-color 2s ease-out, border-radius 2s ease-in-out, padding 1s ease 2s, box-shadow 1s ease 2s, color 3s linear;

}

.transicionDiamond{

    width:150px;
    height:150px;
    background-color:#16a085;
    color:#ffffff;

    font-size:18px;
    text-align:center;
}

.transicionDiamond:hover{
    width:150px;
    height:150px;
    rotate(45deg);
    background-color:pink;
    cursor:pointer;
    padding:30px;
    box-shadow:0px 2px 20px #000;
    color:#fff;

    -webkit-transform: rotate(45deg) skew(15deg, 15deg);
    -moz-transform: rotate(45deg) skew(15deg, 15deg);
    -ms-transform: rotate(45deg) skew(15deg, 15deg);
    -o-transform: rotate(45deg) skew(15deg, 15deg);
    transform: rotate(45deg) skew(15deg, 15deg) ;

}

.rotate {
    border-style: solid;
    border-width: 1px;
    display: block;
    width: 100px;
    height: 100px;
    background-color: greenyellow;
    transition: width 2s, height 2s, background-color 2s, transform 2s;
}

.rotate:hover {
    background-color: pink;
    width: 200px;
    height: 200px;
    transform: rotate(180deg);
}

.twoChanges {
    border: 1px solid black;
    background-color: lightblue;
    width: 230px;
    height: 190px;

}

.twoChanges:hover {
    background-color: pink;
    width: 350px;
    height: 300px;
    padding: 100px;
    border-radius:40%;

    -webkit-transition: width 4s;
    transition: width 4s;
}

/* Este estilo es el del DIV que esta dentro de div.TRA_CONT */
.move div{
    width:10%;
    height:80px;
    margin-left:0%;
    background:#0F0;
    -webkit-transition:all 1s ease;
    -moz-transition:all 1s ease;
    -o-transition:all 1s ease;
    transition:all 1s ease;
}

/* Estilo que se aplica al pasar por encima de la DIV con clase TRA */
.move:hover div{
    width:25%;
    margin-left:80%;
    border-radius:60%;
    background:yellow;
}

#turn2 {

    left: 120px;
    background: blue;
    -webkit-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
    transition: 1s ease-in-out;
}
#turn1:hover + #turn2 {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
    left: calc(100% - 102px);
    background: pink;
}